.o_zoo_dashboard {
    background-color: #f6f8fa;
    padding: 20px;

    .zoo-card {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s;
        border-radius: 12px;
        
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
            cursor: pointer;
        }
    }

    .cursor-pointer {
        cursor: pointer;
    }
}
